* {
  margin: 0;
  padding: 0;
}
.basket {
  position: absolute;
  right: 10px;
  top: 450px;
}
.basketBaslik {
  background-image: linear-gradient(green, yellowgreen);
}

.basetList {
  display: flex;
  flex-direction: column;
}

.basketProduct {
  width: 240px;
  height: 100px;
  margin-bottom: 1px solid gray;
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: space-between;
}
.basketProduct:hover {
  background-color: white;
}
.basketProduct img {
  max-width: 30%;
  max-height: 90%;
}

.totalBasket {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: green;
}
.totalBasket .clearBasketButton {
  border: 1px solid red;
  color: red;
  width: 100%;
  background-color: white;
}
.totalBasket .clearBasketButton:hover {
  color: white;
  background-image: linear-gradient(pink, red);
}
