* {
  margin: 0;
  padding: 0;
}
.header {
  width: 80%;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
}
.headerBottom {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.headerBottom img {
  max-width: 70%;
  max-height: 60%;
  background-size: cover;
  border-radius: 50%;
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(green, yellowgreen);
  margin-top: 20px;
  transition: all 0.7s;
  position: fixed;
  top: -20px;
}

.headerTop p {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 8px;
  font-size: 25px;
}
