* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.productList {
  width: 70%;
  max-height: 600px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.product {
  width: 300px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
  border-radius: 10px;
}
.product h3 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}
.product h5 {
  font-size: 20px;
  font-weight: bold;
  color: green;
  margin-bottom: 20px;
}

.product img {
  background-size: contain;
  max-width: 85%;
  max-height: 35%;
  overflow: clip;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttons p {
  border: 1px solid gray;
  width: 30%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 10px;
}
.buttons button {
  width: 30%;
  height: 40px;
  border: none;
}

.buyButton {
  cursor: pointer;
  background-image: linear-gradient(green, yellowgreen);
  color: white;
}
.buyButton:hover {
  background-image: linear-gradient(yellowgreen, green);
}

.off {
  background-color: lightgray;
  color: gray;
}

.on {
  background-image: linear-gradient(pink, red);
  color: white;
  cursor: pointer;
}
