.productList {
  width: 100%;
  max-height: 600px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product {
  width: 20%;
  height: 50%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.buttons button {
  width: 50px;
}
