* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  width: 100%;
  min-height: 4900px;
  position: relative;
}
